{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>NBA Highest Paid Players</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Most Overpaid Players</a></li>
                <li><a href="{% url 'highest' %}">Highest Paid Players</a></li>
                <li><a href="{% url 'underpaid' %}">Most Underpaid Players</a></li>
            </ul>
        </nav>
    </header>

    <h1>NBA Highest Paid Players</h1>
    <div class="category">
        <h2>Overpaid Metrics for the 20 Highest Paid Players</h2>
        <div class="list">
            <ul>
                {% for player in data.highest_paid_players %}
                    <li>{{ forloop.counter }}. {{ player.name }}: ${{ player.salary }}: Overpaid Metric: {{ player.overpaid_metric|floatformat:2 }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="chart-container">
            <img src="{% static 'highest_paid_chart.png' %}" alt="Highest Paid Players Chart">
        </div>
    </div>
</body>
</html>