<!DOCTYPE html>
<html>
<head>
    <title>NBA Stats</title>
    <style>
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
        .category {
            border: 1px solid #ccc;
            padding: 10px;
        }
        .category h2 {
            text-align: center;
        }
        .category .list {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>NBA Stats</h1>
    </header>
    <div class="container">
        <div class="category">
            <h2>Top 20 Most Overpaid Players (Salary >= $10 million)</h2>
            <div class="list">
                <ul>
                    {% for player in data.overpaid_players %}
                        <li>{{ forloop.counter }}. {{ player.name }}: ${{ player.salary }}: Overpaid Metric: {{ player.overpaid_metric|floatformat:2 }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="category">
            <h2>Overpaid Metrics for the 20 Highest Paid Players</h2>
            <div class="list">
                <ul>
                    {% for player in data.highest_paid_players %}
                        <li>{{ forloop.counter }}. {{ player.name }}: ${{ player.salary }}: Overpaid Metric: {{ player.overpaid_metric|floatformat:2 }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="category">
            <h2>Top 20 Most Underpaid Players</h2>
            <div class="list">
                <ul>
                    {% for player in data.underpaid_players %}
                        <li>{{ forloop.counter }}. {{ player.name }}: ${{ player.salary }}: Underpaid Metric: {{ player.overpaid_metric|floatformat:2 }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>