.player-list-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #a91616;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: absolute;
  background-color: rgb(33, 59, 178);
  border: 1px solid #18ca97;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 200px;
}

.modal h3 {
  margin-top: 0;
}

.modal p {
  margin: 5px 0;
}